<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="description" content="P'tit site">
<meta name="keywords" content="HTML,hypertext,image,list">
<meta name="author" content="Raie-Mananta">
<link rel="icon" type="image/x-icon" href="#">
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">


<link rel="stylesheet" href="style.css">
<title>ERGIA</title>
<body>
<header>
	<div class="navLeft">
            ERGIA
            <a href="#">Acceuil</a>
            <a href="#">Campagnes</a>
        </div>
        <div class="navRight">
            <a href="#">Se Connecter</a>
        </div>
</header>

<p>
Test
</p>

<footer>
<div class='copyright'>
2025@IUTMontreuil
</div>
<div class='reseaux'>
Twitter
</div>
</footer>

</body>
