<link rel="stylesheet" href="accueil.component.scss">
<title>ERGIA</title>

<html>
    <header>
        <div class="navLeft">
                ERGIA
                <a href="#">Accueil</a>
                <a href="#">Campagnes</a>
            </div>
            <div class="navRight">
                <a href="#">Se Connecter</a>
            </div>
    </header>
    <body>
        <div class="accueil_content">
            <div class="AccueilBox1"> 
                <h1>
                    Qu'est ce qu'ERGIA ?
                </h1>
                ERGIA est un site permettant de s’inscrire ou créer des campagnes d’annotations. Le but de ces campagnes d’annotations est de vérifier l'efficacité de résumés de textes fait par des IAs en les comparants à des résumés de textes fait par des humains.
                <br>
                Ce site a été fait par un groupe de 5 étudiants dans le cadre d'une SAé afin de montrer leurs compétences.
            </div>
            <div class="wrapperAccueil">
                <div class="AccueilBox2"> 
                    <img src="/assets/images/Schema.png">
                </div>
                <div class="AccueilBox3"> 
                    <h1>Fonctionnement des campagnes</h1>
                    Un utilisateur doit d’abord créer une campagne d’annotation en y important un corpus contenant des textes, des résumés écrits par humains et des résumés générés par IA.
                    <br>
                    <br>
                    Après avoir créé une campagne, les utilisateurs du site pourront la voir dans la liste de campagnes et s’y inscrire, une fois que le créateur de la campagne a décidé que le nombre de participants était suffisant, la campagne peut se lancer.
                    <br>
                    <br>
                    Les campagnes se font en deux jets. Dans le premier jet, les annotateurs annotent les résumés écrits par humains en y ajoutant des SCUs: des cellules contenant l’idée transmise dans le résumé.
                    <br>
                    <br>
                    Au bout d’un certain moment le premier jet de la campagne se termine pour laisser commencer le second jet, dans celui-ci les annotateurs annotent les textes résumés par IA. Le même système de SCUs est mis en place sauf que pour ce cas là, un algorithme pyramide compare les SCUs des textes générés par IA avec ceux écrits par humain pour savoir s' il y a un conflit entre les deux idées.
                    <br>
                    <br>
                    Lorsque les deux campagnes sont terminées, le créateur de la campagnes va devoir vérifier chaque conflit d’annotations que l’algorithme a trouvé.
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="FooterLinks">
            <div class='copyright'>
                2025 IUTMontreuil
            </div>
            <div class='reseaux'>
                Twitter
            </div>
        </div>
    </footer>
</html>