<link rel="stylesheet" href="accueil.component.scss">
<title>ERGIA</title>

<html>
    <header>
        <div class="navLeft">
                ERGIA
                <a href="#">Acceuil</a>
                <a href="#">Campagnes</a>
            </div>
            <div class="navRight">
                <a href="#">Se Connecter</a>
            </div>
    </header>
    <body>
        <div class="accueil_content">
            <p>
                Test
            </p>
        </div>
    </body>
    <footer>
        <div class='copyright'>
            2025 IUTMontreuil
        </div>
        <div class='reseaux'>
            Twitter
        </div>
    </footer>
</html>